<div class="users-interface">
    <h3>Créer un nouvel utilisateur</h3>
    <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()">
        <label for="email">Adresse mail</label>
        <input
        type="email"
        id="email"
        formControlName="email"
        />

        <label for="password">Mot de passe</label>
        <input
        type="password"
        id="password"
        formControlName="password"
        />

        <label for="login">Identifiant</label>
        <input
        type="text"
        id="login"
        formControlName="login"
        />

        <button type="submit">Créer l'utilisateur</button>
    </form>

    <h3>Liste des utilisateurs</h3>
    <!-- <app-user-card *ngFor="let data of datas"
    >
    </app-user-card> -->
</div>